name: scheduled clean up job - drop non-prod scheams

on:
  schedule:
  - cron: "0 12 * * *"
jobs:
  dbt_scheduled_cleanup_run:
    runs-on: ubuntu-latest
    env:
      PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
      DATASET: ${{ secrets.DATASET }}
    steps:
    - uses: "actions/checkout@main"

    - name: install requirements
      run: pip install -q -r requirements.txt

    - name: dbt deps
      run: |
        cd project_goes_here 
        dbt deps

    - name: dbt run operation
      run: |
        cd project_goes_here 
        dbt run-operation drop_old_relations --args '{dry_run: "true"}'
